#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.btn-custom-green .dropdown-toggle {
  background-color: #15dc0eff !important;
  border-color: #15dc0eff !important;
  color: #ffffff !important;
  box-shadow: none !important;
}

.btn-custom-green .dropdown-toggle:hover,
.btn-custom-green .dropdown-toggle:focus,
.btn-custom-green .dropdown-toggle:active,
.btn-custom-green .dropdown-toggle.show { 
  background-color: #12b80cff !important; 
  border-color: #12b80cff !important;
  color: #ffffff !important;
  box-shadow: none !important;
}